
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />

    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/assets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <title>Moderna Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.8.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center" >
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a href="/"><span style="padding-left:40px;">Resort</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                @*<a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>*@
            </div>

            <nav id="navbar" class="navbar">
                <ul>

                    <li><a class="active " href="/">Početna</a></li>
                    <li><a href="/Sala/PrikazSala">Sale</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Smještaj</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Soba/PrikazSoba">Sobe</a></li>
                            <li><a href="/Bungalov/PrikazBungalova">Bungalov</a></li>
                        </ul>
                    </li>
                    <li><a href="/MeniRestoran/PrikazMeniRestoran">Restoran</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Aktivnosti</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/SportskaAktivnost/PrikazSportskaAktivnost">Sportske aktivnosti</a></li>
                            <li><a href="/Bazen/PrikazBazena">Bazen</a></li>
                            <li><a href="/SpaCentar/PrikazSpaCentra">Spa centar</a></li>
                            <li><a href="/Wellnes/PrikazWellnes">Wellness</a></li>
                        </ul>
                    </li>
                    <li><a href="/identity/account/logout" style="margin-right:40px;">Odjavi se</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

