
@using SeminarskiRS1.ViewModels;
@model BungalovPrikazVM
@{
    Layout = "~/Views/Shared/_LayoutPrikaz.cshtml";
}

<main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2 style="padding-left:50px;">Bungalov</h2>
                <ol style="padding-right:40px; font-size:14px">
                    <li><a href="/Home/Index">Početna</a></li>
                    <li>Bungalov</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Portfolio Section -->
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">

        <div class="portfolio">
            <div class="row">
                <div class="col-lg-12">
                    @if (Model.RolaID == 1)
                    {
                        <div class="row col-lg-12 justify-content-center">
                            <button type="button" class="btn btn-primary  col-10 btn-block btn-lg" onclick="window.location='/Bungalov/EvidentirajBungalov?BungalovId=0'" style="margin-bottom:20px">Dodaj novi bungalov</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">
                @foreach (var x in Model.bungalovi)
                {
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Slike/@x.PutanjaDoSlike" alt="">
                            </div>
                            <div class="card-body">

                                <h4 class="text-center"> @x.NazivBungalova </h4>
                                <p class="card-text" style="font-size:medium">@x.OpisBungalova</p>
                                <div class="read-more"><a href="/Bungalov/EvidentirajBungalov?BungalovId=@x.BungalovId"><i class="bi bi-arrow-right"></i> Detalji</a></div><br />
                                @if (Model.RolaID == 1)
                                {
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-danger btn-lg col-3" onclick="window.location = '/Bungalov/ObrisiBungalov?BungalovId=@x.BungalovId'">Obriši</button>
                                        <button type="button" class="btn btn-primary btn-lg col-3" onclick="window.location = '/Bungalov/EvidentirajBungalov?BungalovId=@x.BungalovId'">Uredi</button>
                                    </div>
                                }
                                @*else
                                    {
                                        <br />
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-success btn-lg col-3" onclick="window.location = '/Sala/DodajURezervaciju?SalaId=@x.SalaID'">Rezerviši</button>
                                        </div>
                                    }*@
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section><!-- End Service Details Section -->
</main>